// .new-list-container .btn {
//   color: white;
// }

.btn-ghost {
  padding: 8px 24px;
  border-radius: 5px;
  opacity: 0.8;
  font-weight: bold;
  background: linear-gradient(#DDE0E3, #DDE0E3);
  transition: background 0.3s ease;
}

.btn-ghost:hover {
  background: linear-gradient(#DDE0E3, #DDE0E3);
  opacity: 1;
}
